# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8 (8)
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Moving the plugin.
      run: |
          mkdir -p /home/runner/work/TiketManager/TiketManager/builds
          mv /home/runner/work/TiketManager/TiketManager/target/TicketBot-1.0-SNAPSHOT.jar /home/runner/work/TiketManager/TiketManager/builds
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Bot
        path: builds
